---
import ManufactureIcon from "./svg/ManufactureIcon.astro";
import PillIcon from "./svg/PillIcon.astro";
import StethoscopeIcon from "./svg/StethoscopeIcon.astro";
import ModernFleetIcon from "./svg/ModernFleetIcon.astro";
import SafeFirstIcon from "./svg/SafeFirstIcon.astro";
import FasterIcon from "./svg/FasterIcon.astro";
import SatisfiedCustomerIcon from "./svg/SatisfiedCustomerIcon.astro";
import InsuredCargoIcon from "./svg/InsuredCargoIcon.astro";
import PriorityIcon from "./svg/PriorityIcon.astro";
import SameDayIcon from "./svg/SameDayIcon.astro";
import ChoiceCard from "./card/ChoiceCard.astro";
import LocationIcon from "./svg/LocationIcon.astro";

import Van from "../assets/bg-2.jpg";
import { getImage } from "astro:assets";
import PackageIcon from "./svg/PackageIcon.astro";
const bgImage = await getImage({ src: Van, format: "jpg" });
---

<>
  <section>
    <div class="bg-2" style={`background-image: url(${bgImage.src});`}></div>
    <div class="wrapper">
      <div class="choice-section">
        <h2>YOUR BEST CHOICE, EVERY TIME</h2>
        <div class="choise-container">
          <ChoiceCard SourceMap={ModernFleetIcon} text={"MODERN FLEET"} />
          <ChoiceCard SourceMap={SafeFirstIcon} text={"SAFETY OPS"} />
          <ChoiceCard SourceMap={FasterIcon} text={"FASTER DELIVERY"} />
          <ChoiceCard
            SourceMap={SatisfiedCustomerIcon}
            text={"TAILORED SERVICE"}
          />
          <ChoiceCard SourceMap={InsuredCargoIcon} text={"CARGO INSURED"} />
          <ChoiceCard SourceMap={PriorityIcon} text={"URGENCY"} />
          <ChoiceCard SourceMap={SameDayIcon} text={"SAME DAY"} />
          <ChoiceCard SourceMap={LocationIcon} text={"LOAD TRACKING"} />
        </div>
      </div>
      <div class="serve-section">
        <h2 class="">INDUSTRIES WE SERVE</h2>
        <div class="card-container">
          <div class="card">
            <StethoscopeIcon width="30" fill="#FCB900" />
            <!-- <img src="src/assets/flexibility.svg" alt="" width="100" /> -->
            <p class="card-info">HealthCare</p>
          </div>
          <div class="card">
            <PillIcon width="30" fill="#FCB900" />
            <!-- <img src="src/assets/flexibility.svg" alt="" width="100" /> -->
            <p class="card-info">Medical</p>
          </div>
          <div class="card">
            <ManufactureIcon width="30" fill="#FCB900" />
            <!-- <img src="src/assets/flexibility.svg" alt="" width="100" /> -->
            <p class="card-info">Manufacturing</p>
          </div>
          <div class="card">
            <PackageIcon width="30" fill="#FCB900" />
            <!-- <img src="src/assets/flexibility.svg" alt="" width="100" /> -->
            <p class="card-info">Goods</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</>

<style>
  .choice-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .choise-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1000px;
  }

  .serve-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .bg-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 100%;
    height: 900px;
    position: absolute;
    z-index: -1;
  }
  .card-info {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    padding-block: 10px;
    background-color: white;
    border-radius: 10px;
    grid-column: span 2;
    /* border: 1px solid #ccc; */
  }
  .card-container {
    /* width: 700px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    /* gap: 20px;
    place-content: center;
    /* margin-top: 40px; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; */
  }

  /* .card:last-child {
    grid-column: 2 / span 2;
    /* justify-self: center;
    grid-column-start: span 3; */
  /* } */

  .wrapper {
    margin-inline: 20px;
    /* max-width: 50%; */
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  h2 {
    font-family: "ITC Avant Garde Gothic Pro Bold", sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin: 0;
  }
  section {
    display: flex;
    justify-content: end;
    position: relative;
  }
  @media screen and (min-width: 800px) {
    .card-container {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }
    .wrapper {
      margin-inline: 60px;
    }
    h2 {
      font-size: 48px;
    }
  }
  @media screen and (min-width: 1000px) {
    .wrapper {
      max-width: 50%;
    }
    h2 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1200px) {
    .wrapper {
      margin-inline: 100px;
    }
    .card {
      padding-inline: 30px;
      max-width: 300px;
      flex: 1;
    }
  }

  @media screen and (min-width: 1600px) {
    .wrapper {
      margin-block: 100px;
    }
    h2 {
      font-size: 48px;
    }
  }
</style>
